extends layout

block content
  header.header
    .container
      .row
        .col-md-12.text-center
          h1= title
  .main
    .container
      .row
        .col-md-12.text-center
          a(href="/panel/employees/new").add Add new Employee
      .row
        .col-md-12
          table.table.table-hover
            tr
              th N
              th First name
              th Last name
              th Email
              th Options
            - employees.forEach(function(v,i){
            tr
              td=i
              td=v.firstName
              td=v.lastName
              td=v.email
              td
                a(href="/panel/employees/edit/"+v._id) Edit
                | 
                a(href="/panel/employees/delete/"+v._id) Delete
            - });
  style.
    .row-centered { text-align:center; }
    .col-centered { display:inline-block; float:none; text-align:left; margin-right:-4px; }
    .add { font-size:20px; font-weight:bold; }
